<h1>Lots</h1>

<table class="table table-strip" id="lots-datatable" data-source="<%= lots_path(format: :json) %>">
  <thead>
    <tr>
      <th>ID</th>
      <th>Logo</th>
      <th>Référence</th>
      <th>Type</th>
      <th>Superficie</th>
      <th>Etage</th>
      <th>Zone</th>
      <th>Fiscalité</th>
      <th>Terrase</th>
      <th>Parking</th>
      <th>Ville</th>
      <th>Cost Postal</th>
      <th>Département</th>
      <th>Expected Delivery</th>
      <th>Expected Actability</th>
      <th>Price</th>
      <th>Disponibilité</th>
      <th>Notary Fee</th>
      <th>Security Deposit</th>
      <th>Images</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
