<h1>Lots</h1>

<table class="table table-striped" id="lots-datatable" data-source="<%= lots_path(format: :json) %>">
  <thead>
    <tr>
      <th>ID</th>
      <th>Logo</th>
      <th>Référence</th>
      <th>Type</th>
      <th>Superficie</th>
      <th>Etage</th>
      <th>Zone</th>
      <th>Fiscalité</th>
      <th>Terrase</th>
      <th>Parking</th>
      <th>Ville</th>
      <th>Cost Postal</th>
      <th>Département</th>
      <th>Date de livraison</th>
      <th>Actabilité</th>
      <th>Prix</th>
      <th>Disponibilité</th>
      <th>Frais de notaire</th>
      <th>Dépot de garantie</th>
      <th style="visibility:hidden;width: 0px;"></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
