<h1>Lots</h1>

<table class="table table-strip" id="lots-datatable" data-source="<%= lots_path(format: :json) %>">
  <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Terrase</th>
      <th>Parking</th>
      <th>City</th>
      <th>Expected Delivery</th>
      <th>Expected Actability</th>
      <th>Price</th>
      <th>Notary Fee</th>
      <th>Security Deposit</th>
      <th>Images</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
